<!DOCTYPE html>
<html>
<head>
  <title>Login Demo</title>
  <script src="static/assets/js/jquery-1.12.4.min.js"></script>
  <script>
    window.onload = function () {
      document.getElementById("login").onclick = function() {

      }
    }
  </script>
</head>
<body>
  
  <div id="container" align="center">
        <form id="form">
            <input id="close" type="input" value="tiny@huoban.com">
            <input id="close" type="password" value="1231qa">
            <input id="login" type="button" value="login" />
        </form>
  </div>
 
  <div id="log"></div>
  
</body>
</html>